/*
 * sircus-tools-typography
 ================================================== */
.t-decoNone      { text-decoration: none; }
.t-underline     { text-decoration: underline; }
.t-overline      { text-decoration: overline; }
.t-through       { text-decoration: line-through; }

.t-lowercase     { text-transform: lowercase; }
.t-uppercase     { text-transform: uppercase; }
.t-capitalize    { text-transform: capitalize; }

.t-nowrap        { white-space: nowrap; }
.t-pre           { white-space: pre; }

.t-normal        { font-weight: normal; }
.t-bold          { font-weight: bold; }
.t-bolder        { font-weight: bolder; }
.t-lighter       { font-weight: lighter; }

.t-italic        { font-style: italic; }

.t-enSans        { font-family: $g-fontFamily-sansEn; }
.t-enSerif       { font-family: $g-fontFamily-serifEn;}
.t-enMonospace   { font-family: $g-fontFamily-monospaceEn; }

.t-jaSans        { font-family: $g-fontFamily-sansJa; }
.t-jaSerif       { font-family: $g-fontFamily-serifJa;}
.t-jaMonospace   { font-family: $g-fontFamily-monospaceJa; }

.t-fontGt        { font-size: $g-fontSize-gt; }
.t-fontHg        { font-size: $g-fontSize-hg; }
.t-fontXl        { font-size: $g-fontSize-xl; }
.t-fontLg        { font-size: $g-fontSize-lg; }
.t-fontMd        { font-size: $g-fontSize-md; }
.t-fontSm        { font-size: $g-fontSize-sm; }
.t-fontXs        { font-size: $g-fontSize-xs; }

.t-lineHeightSm  { line-height: $g-lineHeight-sm; }
.t-lineHeightMd  { line-height: $g-lineHeight-md; }
.t-lineHeightLg  { line-height: $g-lineHeight-lg; }
