
/*
 * sircus-tools-typography
 ================================================== */

.t-normal        { font-weight: normal !important; }
.t-bold          { font-weight: bold !important; }
.t-bolder        { font-weight: bolder !important; }
.t-lighter       { font-weight: lighter !important; }

.t-italic        { font-style: italic !important; }


.t-decoNone      { text-decoration: none !important; }
.t-underline     { text-decoration: underline !important; }
.t-overline      { text-decoration: overline !important; }
.t-through       { text-decoration: line-through !important; }


.t-lowercase     { text-transform: lowercase !important; }
.t-uppercase     { text-transform: uppercase !important; }
.t-capitalize    { text-transform: capitalize !important; }


.t-nowrap        { white-space: nowrap !important; }
.t-pre           { white-space: pre !important; }

.t-enSans        { font-family: var(--g-fontFamily-sansEn) !important; }
.t-enSerif       { font-family: var(--g-fontFamily-serifEn) !important;}
.t-enMonospace   { font-family: var(--g-fontFamily-monospaceEn) !important; }

.t-jaSans        { font-family: var(--g-fontFamily-sansJa) !important; }
.t-jaSerif       { font-family: var(--g-fontFamily-serifJa) !important;}
.t-jaMonospace   { font-family: var(--g-fontFamily-monospaceJa) !important; }

.t-colorPrimary  { color: var(--g-primary) !important; }
.t-colorSuccess  { color: var(--g-success) !important; }
.t-colorNotice   { color: var(--g-notice) !important; }
.t-colorWarning  { color: var(--g-warning) !important; }
.t-colorError    { color: var(--g-error) !important; }

.t-lh-sm  { line-height: var(--g-lineHeight-sm) !important; }
.t-lh-md  { line-height: var(--g-lineHeight-md) !important; }
.t-lh-lg  { line-height: var(--g-lineHeight-lg) !important; }
